*{
  margin: 0 auto;
  padding: 0px;
}

body {
  box-sizing: border-box;
  background-color: #f1f1f1;
  font-family: Arial;
}

/*Start of the main-content of the site*/
.main {
  max-width: 1000px;
  margin: auto;
}

#home-button{
  margin-left: 10px;
  margin-top: 10px;
}

.link-buttons{
  margin-right: 30px;
  margin-top: 10px;
}

h1 {
  margin: 0px;
  font-size: 50px;
  color: pink;
  font-style: italic;
}

  /*Business-card-section*/
  .card-container{
    position: relative;
    width: 70%;
    height: 70vh;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  #card-image-text-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
  }

  .card-image{
    width: 50%;
  }

  .card-images img{
    display: block;
    min-width: 100px;
  }

  .card-info{
    top: 20px;
    left: 20px;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.4);
    color:white;
    position: absolute;
    z-index: 10;
}
  .card-text{
    font-size: large;
    padding: 0px 10px;
    width: 50%;
    overflow: auto;
    background-color: #e4e4e4;
  }

  .card-text img{
    width: 100%;
  }

  .card-text h2{
    margin: 0px;
    font-size: 25px;
    margin-bottom: 3px;
    border-bottom: 2px solid black;
    font-family:'Courier New', Courier, monospace;
  }

/*Start of the business card modal*/
#info-modal{
  display: none;
  z-index: 20;
  position: absolute;
  top: 0px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
}

.info-content{
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 50px;
  border: 20px outset darkblue;
  width: 40%;  
}

.previous-next-buttons{
  margin-left: 190px;
  margin-top: 10px;
}

.previous-next-buttons button{
  font-size: 15px;
}

/*Start of the gallery-content*/
.gallery-row{
  width: 70%;
}
  
.gallery-column {
  float: left;
  width: 33%;
}

#gallery-titel{
  margin-top: 30px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 1.5px solid black;
}

.gallery-content {
  background-color: white;
  padding: 20px 20px 10px 20px;
}

.gallery-content img {
  cursor: pointer;
  transition: 0.4s;
}
.gallery-content img:hover {
  opacity: 0.5;
}

.gallery-content h3 {
  margin: 2px 0px;
}

.gallery-content p {
  margin: 5px 0px;
}
/*End of the gallery-content*/

/*Start of modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-image {
  display: none;
  justify-content: center;
}

.modal-image img {
  width: 50%;
}

.next {
  color: white;
  position: absolute;
  right: 40px;
  font-size: 70px;
  cursor: pointer;
}

.previous {
  color: white;
  position: absolute;
  left: 40px;
  font-size: 70px;
  cursor: pointer;
}

.modal-thumbnails-wrapper {
  display: flex;
}

.thumbnail-image {
  width: 50px;
  border-radius: 10px 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.active,
.thumbnail-image:hover {
  cursor: pointer;
  border: 2px solid red;
}

.x-button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  right: 40px;
  background-color: black;
  color: white;
  font-size: 30px;
  border-radius: 50%;
}

.x-button:focus,
.x-button:hover {
  cursor: pointer;
}

.heart-button-black{
  display:none;
}

.heart-button{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  right: 100px;
  background-color: black;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  padding-top: 5px;
}
.heart-button:focus,
.heart-button:hover{
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px darkblue;
  border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: darkblue;
  border-radius: 20px;
}

/*Media-Query */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


