@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    transition: 0.1s;
}
/* PORTFOLIO SECTION */
#gallery-section {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 10px;
    padding: 15px;
}
.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.gallery-item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
}
.gallery-item-2 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 9;
}
.gallery-item-3 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 7;
}
.gallery-item-4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery-item-5 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 7;
}
.gallery-item-6 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 9;
}
.gallery-item-7 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gallery-item-8 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}
.gallery-item-9 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery-item-10 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 9;
}
.gallery-item-11 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 9;
}
.gallery-item-12 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 9;
}
.gallery-item-13 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
}
#gallery-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(124, 124, 124, 0.5);
    z-index: 2;
    display: none;

}
.main-image-wrapper{
    position: relative;
    top: 5%;
    left: 20%;
    width: 60%;
    height: 65vh;
    background-color: white;
}
#main-image{
    width: 100%;
    height: 65vh;
    object-fit: cover;
}
#exit-gallery-button {
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 50px;
    cursor: pointer;
    color: white;
}
#prev-button, #next-button{
    position: absolute;
    top: 35%;
    color: white;
    padding: 0 15px;
    font-size: 50px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 4;
}
#prev-button{
    left: 15%
}
#prev-button:hover{
    margin-left: -3px;
}
#next-button{
    right: 15%;
}
#next-button:hover{
    margin-right: -3px;
}
#thumbnails-wrapper{
    width: 70%;
    height: 130px;
    position: absolute;
    bottom: 7.5%;
    left: 15%;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 30px;
}
.thumbnail{
    width: 120px;
    height: 85px;
    object-fit: cover;
    cursor: pointer;
    margin-right: 20px;
}